.o-a {
  overflow: auto;
}

.ox-a {
  overflow-x: auto;
}

.oy-a {
  overflow-y: auto;
}

.o-h {
  overflow: hidden;
}

.ox-h {
  overflow-x: hidden;
}

.oy-h {
  overflow-y: hidden;
}

.o-v {
  overflow: visible;
}

.ox-v {
  overflow-x: visible;
}

.oy-v {
  overflow-y: visible;
}

.o-s {
  overflow: scroll;
}

.ox-s {
  overflow-x: scroll;
}

.oy-s {
  overflow-y: scroll;
}