// 100px以下间隔4px
@for $d from 0 to 26 {
  .m-#{$d * 4} {
    margin: #{$d * 4}px;
  }

  .p-#{$d * 4} {
    padding: #{$d * 4}px;
  }

  .mt-#{$d * 4} {
    margin-top: #{$d * 4}px;
  }

  .pt-#{$d * 4} {
    padding-top: #{$d * 4}px;
  }

  .mr-#{$d * 4} {
    margin-right: #{$d * 4}px;
  }

  .pr-#{$d * 4} {
    padding-right: #{$d * 4}px;
  }

  .mb-#{$d * 4} {
    margin-bottom: #{$d * 4}px;
  }

  .pb-#{$d * 4} {
    padding-bottom: #{$d * 4}px;
  }

  .ml-#{$d * 4} {
    margin-left: #{$d * 4}px;
  }

  .pl-#{$d * 4} {
    padding-left: #{$d * 4}px;
  }

  .mx-#{$d * 4} {
    margin-left: #{$d * 4}px;
    margin-right: #{$d * 4}px;
  }

  .px-#{$d} {
    padding-left: #{$d * 4}px;
    padding-right: #{$d * 4}px;
  }

  .my-#{$d * 4} {
    margin-top: #{$d * 4}px;
    margin-bottom: #{$d * 4}px;
  }

  .py-#{$d * 4} {
    padding-top: #{$d * 4}px;
    padding-bottom: #{$d * 4}px;
  }
}

// 100px以上间隔10px
@for $d from 0 to 41 {
  .m-#{100 + $d * 10} {
    margin: #{100 + $d * 10}px;
  }

  .p-#{100 + $d * 10} {
    padding: #{100 + $d * 10}px;
  }

  .mt-#{100 + $d * 10} {
    margin-top: #{100 + $d * 10}px;
  }

  .pt-#{100 + $d * 10} {
    padding-top: #{100 + $d * 10}px;
  }

  .mr-#{100 + $d * 10} {
    margin-right: #{100 + $d * 10}px;
  }

  .pr-#{100 + $d * 10} {
    padding-right: #{100 + $d * 10}px;
  }

  .mb-#{100 + $d * 10} {
    margin-bottom: #{100 + $d * 10}px;
  }

  .pb-#{100 + $d * 10} {
    padding-bottom: #{100 + $d * 10}px;
  }

  .ml-#{100 + $d * 10} {
    margin-left: #{100 + $d * 10}px;
  }

  .pl-#{100 + $d * 10} {
    padding-left: #{100 + $d * 10}px;
  }

  .mx-#{100 + $d * 10} {
    margin-left: #{100 + $d * 10}px;
    margin-right: #{100 + $d * 10}px;
  }

  .px-#{100 + $d * 10} {
    padding-left: #{100 + $d * 10}px;
    padding-right: #{100 + $d * 10}px;
  }

  .my-#{100 + $d * 10} {
    margin-top: #{100 + $d * 10}px;
    margin-bottom: #{100 + $d * 10}px;
  }

  .py-#{100 + $d * 10} {
    padding-top: #{100 + $d * 10}px;
    padding-bottom: #{100 + $d * 10}px;
  }
}
